:root {
    --cor-principal: rgb(33, 189, 251);
    --cor-hover: #084298;
}


nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: var(--cor-principal);
    padding: 10px 30px;
    display: flex;
    justify-content: center; 
    box-sizing: border-box;
    z-index: 9999;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

nav ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}


nav ul li a:hover {
    background-color: var(--cor-hover);
    transform: translateY(-2px);
}


nav ul li .sair {
    background: #ff4d4d;
}

nav ul li .sair:hover {
    background: #cc0000;
}


body {
    margin: 0;
    padding-top: 60px;
}


@media (max-width: 700px){
    nav ul {
        flex-direction: column; 
        align-items: center;    
        gap: 10px;
    }

    nav {
        padding: 10px 15px;
    }
}
