
<link rel="stylesheet" href="../../css/clientes/navbar.css">

<nav>
    <ul>
        <li><a></a></li>
        <li><a href="/PaginaInicialUsuario">Tela inicial</a></li>
        <li><a href="/logout" class="sair">Sair</a></li>
       
    </ul>

</nav>

<footer>

</footer>