
form {
    width: 90%;                  
    max-width: 500px;           
    min-width: 250px;           
    margin: 20px auto;          
    padding: 20px;
    box-sizing: border-box;      
    height: auto;               
    background: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


form input,
form select {
    width: 100%;               
    height: 45px;
    border-radius: 25px;
    padding: 0 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}


form label {
    display: block;            
    margin-bottom: 5px;
    font-weight: bold;
}


form button {
    background: rgb(33, 189, 251);
    width: 100%;                
    height: 50px;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
 
}

form button:hover {
    background: rgb(20, 150, 220);
}



@media (min-width: 481px) and (max-width: 768px) {
    form {
        width: 80%;            
    }

    form input,
    form select {
        height: 50px;
    }

    form button {
        height: 50px;
        font-size: 18px;
    }
}


@media (min-width: 769px) {
    form {
        width: 50%;            
        padding: 30px;
    }

    form input,
    form select {
        height: 50px;
        font-size: 16px;
    }

    form button {
        height: 50px;
        font-size: 18px;
    }
}
.cadastro_usuario{
    height: auto;
    margin-left: 40%;
}