#Agendamento {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
   
}


#Agendamento h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


#Agendamento form {
    display: flex;
    flex-direction: column;
 
    padding: 20px;
    border-radius: 12px;
}

#Agendamento form label {
    font-weight: bold;
    margin: 10px 0 5px;
}

#Agendamento form input,
#Agendamento form select {
    padding: 12px;
    border-radius: 8px;
    border: solid 2px black;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#Agendamento form input:focus,
#Agendamento form select:focus {
    outline: none;
   
}

#Agendamento form button {
    background: #0ebe0e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    transition: 0.3s;
}

#Agendamento form button:hover {
    background: #0a990a;
}


@media (max-width: 700px) {
    #Agendamento {
        width: 95%;
        padding: 15px;
    }

    #Agendamento form input,
    #Agendamento form select,
    #Agendamento form button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    #Agendamento form input,
    #Agendamento form select,
    #Agendamento form button {
        font-size: 13px;
        padding: 8px;
    }
}





nav {
    width: 100%;
     background: rgb(33, 189, 251);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

nav p {
    color: white;
    font-weight: bold;
    margin: 0 15px;
    font-size: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
   
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav a:hover {
   
    transform: scale(1.05);
}




@media (max-width: 700px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav a {
        width: 80%;
        padding: 12px;
    }
}

@media (max-width: 400px) {
    nav a {
        width: 90%;
        padding: 10px;
    }

    nav p {
        font-size: 14px;
    }
}
