
#cadastrarCliente {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
   
    border-radius: 12px;
   
}


#cadastrarCliente h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#cadastrarCliente form {
    display: flex;
    flex-direction: column;
 
    padding: 20px;
    border-radius: 12px;
}

#cadastrarCliente form label {
    font-weight: bold;
    margin: 10px 0 5px;
}

#cadastrarCliente form input,
#cadastrarCliente form select,
#cadastrarCliente form button {
    padding: 10px;
    border-radius: 8px;
    border: solid 2px black; 
    font-size: 16px;
    margin-bottom: 15px;
}

#cadastrarCliente form input:focus,
#cadastrarCliente form select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(12, 218, 12, 0.5);
}

#cadastrarCliente form button {
    background: #0ebe0e;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

#cadastrarCliente form button:hover {
    background: #0a990a;
    transform: scale(1.05);
}

