<link rel="stylesheet" href="../../../css/admin/navBar.css">

<nav>
    <a href="/PaginaInicialAdmin">Tela Inicial</a>
    <a href="/PerfilAdmin">Perfil</a>
    <a href="/logout" class="sair">Sair</a>
</nav>
