 
<link rel="stylesheet" href="/css/login.css">
{{> cliente/navbar}}

<main>
    
    
<form class="form needs-validation" action="/Login" method="post" novalidate>
    
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input type="text" class="form-control" name="nome" placeholder="Digite seu nome:" required>
        <div class="invalid-feedback">Por favor, preencha seu nome.</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Digite seu email:" required>
        <div class="invalid-feedback">Insira um e-mail válido.</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Senha:</label>
        <input type="password" class="form-control" name="senha" placeholder="Digite sua senha:" required minlength="4">
        <div class="invalid-feedback">A senha deve ter pelo menos 4 caracteres.</div>
    </div>

    <div class="mb-3">
        <p class="nao_tem_conta">Não tem conta? 
            <a class="cadastre-se" style="color: blue;" href="/PaginaCadastroCliente">Cadastre-se aqui!</a>
        </p>
    </div>

    <button class="btn btn-primary butao_login" type="submit">Entrar</button>
</form>



  
</main>

<script src="../js/login_e cadastro.js"></script>
