

nav{
    width: 100%;
  
    height: 60px;
    background: rgb(33, 189, 251);
    padding: 10px;
    color: white;
    
    border-radius: 10px;
}
nav a{
    padding: 10px;
}
nav a:hover{
    background: #084298;
     border-radius: 10px;
 

    
}

a{
    padding: 20px;
    margin: 20px;
    margin-left: 3%;
    color: white;
    text-decoration: none;
}

.sair{
    color: red;
    text-decoration: none;
    font-size: 20px;
}

.perfil{
     text-decoration: none;
}


@media (max-width: 768px) {
  nav {
    padding-top: 25px;  /* empurra pra baixo */
    height: auto;
  }

  nav a {
    display: block;     /* um embaixo do outro */
    margin-top: 8px;
  }
}
















