#Recomendacoes{
    display: none;
}


nav{
    width: 100%;
  
    height: auto;
    background: rgb(33, 189, 251);
    padding: 10px;
    color: white;
}

a{
    padding: 20px;
    margin: 20px;
    margin-left: 3%;
    color: white;
    text-decoration: none;
}

.sair{
    color: red;
    text-decoration: none;
    font-size: 20px;
}

.perfil{
     text-decoration: none;
}































